#include "cornix-layouts.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <14>;
        rows = <4>;
        events = <0>;
    };
};
